import(gpclib)

export(accumulate)
export(addBox)
export(batchGenerate)
export(correct)
export(correctBatch)
export(dark)
export(disp)
export(dispBox)
export(dispContour)
export(expose)
export(exposeFlood)
export(exposeSpots)
export(findSpot)
export(findSpotCentroid)
export(flatten)
export(flipHorizontal)
export(flipVertical)
export(flood)
export(getFilePattern)
export(linePlot)
export(makeFlatfield)
export(makeImageSet)
export(makeIntensityList)
export(makeNormaliseArray)
export(makeOverlapArray)
export(makePolyGrids)
export(makeProcessingList)
export(makeProfile)
export(makeUndistortArray)
export(makeVOMimage)
export(mem)
export(normaliseImage)
export(pencil)
export(phosphor)
export(pxCor)
export(pxCov)
export(pxIntegrate)
export(pxMean)
export(pxVar)
export(read)
export(readCBF)
export(readImage)
export(readImageBatch)
export(readMar)
export(readMTZ)
export(readSMV)
export(rotate)
export(size)
export(spot)
export(spotGrid)
export(taper)
export(undistortImage)
export(writeCBF)
export(writeImage)

useDynLib("DISP")
